<h1>Listing my_words</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Soundmark</th>
      <th>Explain</th>
      <th>Add time</th>
      <th>Search times</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_words.each do |my_word| %>
      <tr>
        <td><%= my_word.word %></td>
        <td><%= my_word.soundmark %></td>
        <td><%= my_word.explain %></td>
        <td><%= my_word.add_time %></td>
        <td><%= my_word.search_times %></td>
        <td><%= link_to 'Show', my_word %></td>
        <td><%= link_to 'Edit', edit_my_word_path(my_word) %></td>
        <td><%= link_to 'Destroy', my_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My word', new_my_word_path %>
